@import url('https://fonts.cdnfonts.com/css/cry-uncial');
@import url('https://fonts.cdnfonts.com/css/rem');

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.topbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__name-and-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        width: 100vw;

        &__name {
            font-size: 4rem;
            font-family: 'Cry Uncial', sans-serif;
        }

        &__logo {
            height: 200px;
            width: 200px;
            border-radius: 100%;
        }

    }

    &__navbar-default {
        margin: 1rem 0;
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &__link {
            font-size: 1.5rem;
            color: black;
            text-decoration: none;
        }
    }

    &__navbar-mobile {
        display: none;
    }
}

.carousel {
    position: relative;

    &__container {
        display: flex;
        overflow: hidden;
        &__image { 
            flex-grow: 0;
            flex-shrink: 0;
            object-fit: cover;
            max-height: 25rem;
            width: 100vw;
            display: block;
            transition: translate 300ms ease-in-out;
        }
    }
    

    &__button {
        position: absolute;
        top: 0;
        bottom: 0;
        display: block ;
        color: white;
        background-color: transparent;
        border: none;
        padding: 0 1rem;
        font-size: 2.5rem;
    }
}

@media (min-width: 600px) and (max-width: 860px) {
    .topbar {
        &__name-and-logo {
            gap: 5rem;

            &__name {
                font-size: 3rem;
                font-family: 'Cry Uncial', sans-serif;
            }

            &__logo {
                height: 150px;
                width: 150px;
                border-radius: 100%;
            }
        }

        &__navbar-default {
            width: 80%;
        }
    }
}

@media (max-width: 600px) {
    .topbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__name-and-logo {
            justify-content: space-evenly;
            gap: .5rem;

            &__name {
                text-wrap: nowrap;
                font-size: 2.25rem;
                font-family: 'Cry Uncial', sans-serif;
            }

            &__logo {
                height: 100px;
                width: 100px;
                border-radius: 100%;
            }
        }

        &__navbar-default {
            display: none;
        }

        &__navbar-mobile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__toggle {
                background-color: transparent;
                border: none;
                font-size: 1.75rem;
            }

            &__menu {
                position: absolute;
                z-index: 2;
                top: 10rem;
                width: 100vw;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                transition: height .5s ease-in-out;
                background-color: rgba(200, 200, 208, 0.597);

                &__link {
                    font-size: 1.25rem;
                    color: black;
                    text-decoration: none;
                }
            }

            .show {
                overflow: hidden;
                height: 10rem;
            }

            .hide {
                height: 0rem;
                overflow: hidden;
            }
        }
    }
}